h1 {
    font-size: 58px;
    margin-top: 23px;
}

h2 {
    margin-top: -36px;
    color: black;
    font-weight: bold;
    font-size: 21px;
}

tr,
td {
    color: white;
    font-size: larger;
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.tbl-btn {
    width: 35ch;
    font-size: large;
    font-weight: bolder;
    border-radius: 7px;
    height: 39px;
}

.tbl-btn:hover {
    color: yellow;
    background-color: blue;
}

.reset-btn {
    width: 35ch;
    font-size: large;
    font-weight: bolder;
    border-radius: 7px;
    height: 39px;
}

.reset-btn:hover {
    color: white;
    background-color: crimson;
}

.month-box {
    width: 75px;
}

.lng-slct {
    height: 25px;
    width: 190px;
}

.box-design {
    height: 27px;
    width: 182px;
}

caption {
    color: white;
    margin-bottom: 20px;
}

#form {
    margin-top: 20px;
    position: relative;
}

.container {
    background-color: rgb(116, 32, 62);
    margin-left: 50ch;
    margin-right: 50ch;
    margin-top: -4ch;
    margin-bottom: auto;
    height: 488px;
    position: absolute;
    width: 598px;
}

.about-design {
    width: 185px;
    height: 34px;
}

footer {
    text-align: center;
    margin-bottom: 0%;
    margin-top: 486px;
    font-weight: bolder;
    font-size: larger;
    color: white;
}

input:hover {
    background-color: yellowgreen;
}

textarea:hover {
    background-color: yellowgreen;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: inherit;
    gap: 184%;
}